
.section_flashsale .product-flash-swiper {
    margin-bottom: 20px
}

.section_flashsale .group_title_index_flash {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px
}

@media (max-width: 991px) {
    .section_flashsale .group_title_index_flash {
        flex-direction:column;
        align-items: center
    }
}

.section_flashsale .group_title_index_flash .title {
    margin-bottom: 0
}

@media (max-width: 767px) {
    .section_flashsale .group_title_index_flash .title {
        line-height:20px
    }
}

.section_flashsale .group_title_index_flash .title .title-name {
    margin-bottom: 0;
    position: relative;
    font-size: 26px;
    font-weight: 700;
    color: #fff
}

@media (max-width: 767px) {
    .section_flashsale .group_title_index_flash .title .title-name {
        font-size:20px;
        margin-bottom: 5px;
        display: block
    }
}

.section_flashsale .group_title_index_flash .title .title-name img {
    height: 35px;
    width: auto;
    animation: 0.8s linear 0s infinite normal none running pulseSmall
}

@-webkit-keyframes pulseSmall {
    50% {
        opacity: 0.3;
        transform: scale(1.3)
    }
}

.section_flashsale .group_title_index_flash .title a:hover {
    color: #d1a02f
}

.section_flashsale .count-down {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    text-align: right;
    background: transparent
}

.section_flashsale .count-down .timer-view {
    display: inline;
    width: 100%;
    text-align: center;
    margin-bottom: 20px
}

.section_flashsale .count-down .timer-view .block-timer {
    width: 50px;
    height: 50px;
    display: inline-flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background: #bd110f;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 0
}

@media (max-width: 374px) {
    .section_flashsale .count-down .timer-view .block-timer {
        width:35px;
        height: 35px;
        margin: 2px;
        margin-bottom: 0
    }
}

.section_flashsale .count-down .timer-view .block-timer p {
    margin-bottom: 0;
    font-size: 16px
}

@media (max-width: 374px) {
    .section_flashsale .count-down .timer-view .block-timer p {
        font-size:11px
    }
}

.section_flashsale .count-down .timer-view .block-timer p b {
    display: block;
    font-size: 20px;
    line-height: 20px
}

@media (max-width: 374px) {
    .section_flashsale .count-down .timer-view .block-timer p b {
        font-size:14px
    }
}

.section_flashsale .count-down .timer-view .block-timer:first-child {
    margin-left: 0
}

.section_flashsale .count-down .timer-view>span {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    top: 11px;
    color: #fff
}

.section_flashsale .elio-productcount .countdown {
    position: relative
}

.section_flashsale .elio-productcount .countdown .line {
    height: 20px;
    background: #e5a2a1;
    border-radius: 5px
}

.section_flashsale .elio-productcount .countdown .line span {
    width: 62%;
    display: block;
    height: 20px;
    border-radius: 5px;
    background-color: #bd110f;
    -webkit-animation: progress_bar_fill 2s linear infinite;
    animation: progress_bar_fill 2s linear infinite;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px
}

.section_flashsale .elio-productcount .countdown .title {
    font-weight: 700;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%)
}

@keyframes progress_bar_fill {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 40px 0
    }
}

.section_flashsale .thumb-flasale {
    padding: 10px;
    border-radius: 5px
}

.section_flashsale .banner-slider {
    margin-bottom: 20px
}

.section_flashsale .text-banner-slider {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center
}

.section_flashsale .text-banner-slider a {
    color: #fff
}

.section_flashsale .text-banner-slider a:hover {
    color: #d1a02f
}

.section_flashsale .text-banner-slider .swiper-wrapper {
    transition-timing-function: linear
}
.section_flashsale  {
    animation: slide 30s infinite linear;
}

.section_flashsale .see-more {
    text-align: center;
    margin-top: 20px
}

.section_flashsale .see-more a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff
}

.section_flashsale .see-more a:hover {
    background: #d1a02f;
    color: #fff;
    border: 2px solid #d1a02f
}

.section_flashsale .product-action .product-info {
    min-height: 180px
}

  .swiper-slide {
    width: 418.667px;
    margin-right: 10px;
  }
  
  /* Tự động chuyển động */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1);
    }
  }
  
  /* Áp dụng hiệu ứng chuyển động */
  /* .swiper-wrapper {
    animation: slide 10s infinite linear;
  } */

  .parent-flash{
    width:300px;
    border:5px solid red;
    overflow-x: hidden; 
    float:left;
  }
  .child-flash{
    width:1000px;
    float:left;
    font-size:15px;
    font-family:arial;
    padding:10px;
    cursor: pointer;
    display: flex;
  }