.a-center {
    text-align: center
}

.block {
    display: block
}

.margin-top-15 {
    margin-top: 15px
}

.margin-top-10 {
    margin-top: 10px
}

.page_customer_account,.address,.page_order {
    padding: 20px 0
}

.title-head {
    margin-bottom: 20px
}

td,th {
    text-align: center;
    padding: 15px;
    border: 1px solid #ebebeb;
    color: #000
}

table {
    width: 100%
}

.col-left-ac .block-account .title-account {
    font-size: 19px;
    font-weight: 400;
    color: #000;
    margin-bottom: 7px;
    margin-top: 0;
    text-transform: uppercase
}

.col-left-ac .block-account p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 28px;
    color: #000;
    position: relative
}

.col-left-ac .block-account p a:hover {
    color: #d1a02f !important
}

.col-left-ac .block-account ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.col-left-ac .block-account ul .title-info {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
    display: block
}

.col-left-ac .block-account ul .title-info:hover,.col-left-ac .block-account ul .title-info.active {
    color: #d1a02f
}

h1,.title-head {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 27px
}

button {
    height: 45px
}

.auth-block__menu-list {
    list-style: none;
    display: flex;
    height: 50px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}

.auth-block__menu-list li {
    flex: 1 1;
    text-align: center;
    position: relative
}

.auth-block__menu-list li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
    color: #000;
    text-transform: uppercase
}

.auth-block__menu-list li.active:before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    background-color: #000
}

.auth-block__menu-list li.active a {
    color: #000
}

.auth-block__menu-list li:hover a {
    color: #000
}

.page_customer_account {
    margin-bottom: 30px
}

.page_customer_account .col-right-ac .name-account {
    margin-bottom: 40px
}

.page_customer_account .col-right-ac .title-yorder {
    font-size: 19px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
    text-transform: uppercase
}

.page_customer_account .col-right-ac .my-account .table-responsive-block .table-cart thead th {
    border-bottom: 1px solid #dee2e6;
    background: #d1a02f;
    color: #fff;
    padding: 5px;
    font-size: 14px
}

@media (max-width: 992px) {
    .page_customer_account .col-right-ac .my-account .table-responsive-block .table-cart thead th {
        display:none
    }
}

@media (max-width: 992px) {
    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first {
        border-top:0 !important;
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
        display: block
    }
}

.page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td {
    width: 15%;
    padding: 20px 5px
}

@media (max-width: 992px) {
    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td {
        border:none;
        position: relative;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        width: 100% !important
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(1) {
        padding-left: 85px;
        border-top: #e1e1e1 1px solid
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(2) {
        padding-left: 58px
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(3) {
        padding-left: 68px
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(4) {
        padding-left: 125px
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(5) {
        padding-left: 116px
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(6) {
        padding-left: 117px
    }

    .page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:before {
        position: absolute;
        top: 10px;
        font-size: 14px;
        left: 10px;
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
        font-weight: 400;
        display: block
    }
}

.page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td:nth-child(3) {
    width: 25%
}

.page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td a {
    color: #2F80ED
}

.page_customer_account .col-right-ac .my-account .table-responsive-block tbody .first td a:hover {
    color: #d1a02f
}

.page_order {
    margin-bottom: 40px
}

.page_order .head-title h1 {
    text-transform: none;
    float: left;
    display: inline-block
}

.page_order .head-title .order_date {
    float: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    margin-top: 5px
}

@media (max-width: 767px) {
    .page_order .head-title .order_date {
        display:block;
        width: 100%;
        margin: 0 0 20px
    }
}

.page_order .shipping_status,.page_order .payment_status {
    display: inline-block;
    font-size: 14px;
    line-height: 16px
}

.page_order .payment_status {
    margin-right: 35px
}

.page_order .body_order {
    padding-left: 15px
}

@media (max-width: 767px) {
    .page_order .body_order {
        padding-left:0px
    }
}

.page_order .body_order .box-address {
    margin-top: 30px
}

.page_order .body_order .box-address .title-head {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 6px
}

.page_order .body_order .box-address .box-des {
    min-height: 110px;
    padding: 13px 25px 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px
}

.page_order .body_order .box-address .box-des strong {
    text-transform: uppercase
}

.page_order .body_order .box-address .box-des p {
    color: #000;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    text-align: left;
    margin-bottom: 8px
}

.page_order .table-order {
    padding: 0 20px;
    border: 1px solid #e0e0e0;
    margin-top: 24px;
    border-radius: 5px
}

@media (max-width: 992px) {
    .page_order .table-order {
        padding:0;
        border: 0
    }
}

.page_order .table-order .table-cart thead tr th {
    padding: 25px 0;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 19px;
    width: 15%;
    float: left;
    font-weight: 400
}

@media (max-width: 992px) {
    .page_order .table-order .table-cart thead tr th {
        display:none
    }
}

.page_order .table-order .table-cart thead tr th:first-child {
    text-align: left;
    width: 55%
}

@media (max-width: 992px) {
    .page_order .table-order .table-cart tbody tr {
        border-top:0 !important;
        display: block
    }

    .page_order .table-order .table-cart tbody tr:last-child {
        border-bottom: 1px solid #e1e1e1
    }
}

.page_order .table-order .table-cart tbody tr td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    width: 15%;
    float: left;
    font-size: 16px
}

@media (min-width: 992px) {
    .page_order .table-order .table-cart tbody tr td {
        justify-content:center;
        align-items: center;
        display: flex;
        min-height: 130px
    }
}

@media (max-width: 992px) {
    .page_order .table-order .table-cart tbody tr td {
        border-bottom:none;
        position: relative;
        padding-right: 10px;
        text-align: right;
        padding-top: 0;
        padding-bottom: 10px;
        display: inline-block;
        float: none;
        width: 100% !important
    }

    .page_order .table-order .table-cart tbody tr td:first-child {
        border-top: #e1e1e1 1px solid;
        padding-top: 10px
    }

    .page_order .table-order .table-cart tbody tr td:nth-child(2) {
        display: none
    }

    .page_order .table-order .table-cart tbody tr td:nth-child(3) {
        display: none
    }

    .page_order .table-order .table-cart tbody tr td:nth-child(4) {
        display: none
    }
}

.page_order .table-order .table-cart tbody tr td:first-child {
    width: 55%
}

.page_order .table-order .table-cart tbody tr td .image_order {
    float: left;
    width: 90px
}

@media (max-width: 767px) {
    .page_order .table-order .table-cart tbody tr td .image_order {
        width:50px
    }
}

.page_order .table-order .table-cart tbody tr td .image_order a {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center
}

@media (max-width: 767px) {
    .page_order .table-order .table-cart tbody tr td .image_order a {
        height:50px
    }
}

.page_order .table-order .table-cart tbody tr td .image_order a img {
    max-height: 100%;
    max-width: 100%
}

.page_order .table-order .table-cart tbody tr td .content_right {
    float: left;
    width: calc(100% - 90px);
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    align-self: normal;
    display: flex;
    flex-flow: column;
    justify-content: center
}

@media (max-width: 992px) {
    .page_order .table-order .table-cart tbody tr td .content_right {
        text-align:right;
        width: auto;
        float: none;
        text-align: left
    }
}

.page_order .table-order .table-cart tbody tr td .content_right .title_order {
    display: block
}

.page_order .table-order .table-cart tbody tr td .content_right p {
    margin: 10px 0 0
}

@media (max-width: 767px) {
    .page_order .table-order .table-cart tbody tr td .content_right p {
        margin:5px 0 0
    }
}

.page_order .table-order .table-cart tbody tr td .content_right .bottom_mb {
    font-size: 16px;
    margin-top: 5px
}

@media (min-width: 992px) {
    .page_order .table-order .table-cart tbody tr td .content_right .bottom_mb {
        display:none
    }
}

.page_order .table-order .table-cart tbody tr td .content_right .bottom_mb .quantity_mb {
    float: left
}

.page_order .table-order .table-cart tbody tr td .content_right .bottom_mb .sum_mb {
    float: right
}

.page_order .table-order .totalorders tr td {
    border: 0;
    font-size: 16px;
    text-align: right
}

@media (max-width: 767px) {
    .page_order .table-order .totalorders tr td {
        padding:10px 5px
    }
}

.page_order .table-order .totalorders tr td:first-child {
    width: 75%
}

@media (max-width: 767px) {
    .page_order .table-order .totalorders tr td:first-child {
        width:45%
    }
}

@media (max-width: 992px) {
    .table-responsive-block .table-order td:nth-of-type(1):before {
        content:"Đơn hàng:"
    }

    .table-responsive-block .table-order td:nth-of-type(2):before {
        content: "Ngày:"
    }

    .table-responsive-block .table-order td:nth-of-type(3):before {
        content: "Địa chỉ:"
    }

    .table-responsive-block .table-order td:nth-of-type(4):before {
        content: "Giá trị đơn hàng:"
    }

    .table-responsive-block .table-order td:nth-of-type(5):before {
        content: "TT Thanh toán:"
    }

    .table-responsive-block .table-order td:nth-of-type(6):before {
        content: "TT Vận chuyển:"
    }

    .table-responsive-block .totalorders td:nth-of-type(1):before {
        content: "Phí vận chuyển"
    }

    .table-responsive-block .totalorders td:nth-of-type(2):before {
        content: "Tổng tiền"
    }

    .table-responsive-block .totalorders td:nth-of-type(3):before {
        content: "Số lượng"
    }

    .table-responsive-block .totalorders td:nth-of-type(4):before {
        content: "Tổng"
    }

    .table-responsive-block .totalorders td:nth-of-type(5):before {
        content: "Tình trạng"
    }
}

.op_address.opened {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px !important;
    left: 0px;
    z-index: 99999
}

.btn-row {
    margin: 0
}

.btn-row .btn-more,.btn-row .btn-submit {
    background: #d1a02f !important;
    border: 1px solid #d1a02f !important;
    color: #fff !important;
    padding: 0 16px !important;
    border-radius: 3px !important;
    font-size: 14px
}

.btn-row .btn-more:focus,.btn-row .btn-submit:focus {
    box-shadow: none !important;
    outline: none
}

.btn-row .btn-more:hover,.btn-row .btn-submit:hover {
    background: #d1a02f !important;
    border-color: #d1a02f !important;
    opacity: .6
}

.btn-row .btn-dark-address {
    background: #fff;
    border: solid 1px #ebebeb !important;
    color: #000 !important;
    font-size: 14px
}

.btn-row .btn-dark-address:hover {
    background: #9E9E9E !important;
    border-color: #9E9E9E !important;
    color: #fff !important
}

@media (max-width: 767px) {
    .btn-row .btn-more {
        margin-left:0
    }
}

.btn-row .btn-edit {
    font-size: 14px;
    background: transparent !important;
    border: 0 !important;
    color: #2D9CDB !important
}

.btn-row .btn-edit:hover {
    color: #d1a02f !important
}

@media (max-width: 767px) {
    .btn-row .btn-edit {
        background:#000 !important;
        color: #fff !important;
        border: 1px solid #000 !important
    }

    .btn-row .btn-edit:hover {
        color: #fff !important
    }
}

.btn-row .btn-edit:focus {
    box-shadow: none !important;
    outline: none
}

.btn-row .btn-delete {
    color: red !important;
    background: transparent !important;
    border: 0 !important
}

.btn-row .btn-delete:hover {
    color: #d1a02f !important;
    background: transparent !important
}

@media (max-width: 767px) {
    .btn-row .btn-delete {
        background:#EB5757 !important;
        color: #fff !important;
        border: 1px solid #EB5757 !important
    }
}

.address_info {
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width: 767px) {
    .address_info {
        padding:16px 0;
        flex-flow: column
    }
}

.address_info .address-group {
    width: 75%
}

@media (max-width: 767px) {
    .address_info .address-group {
        width:100%;
        margin-bottom: 20px
    }
}

.address_info .address-group .address p:last-child {
    margin: 0
}

.address_info .address-group .address-default {
    color: #27AE60;
    font-size: 10px;
    font-weight: 400;
    padding-left: 10px
}

.address_info .address-group .address-default i {
    padding-right: 3px
}

.address_info .btn-address {
    width: 25%;
    text-align: center
}

@media (max-width: 767px) {
    .address_info .btn-address {
        width:100%;
        text-align: left
    }
}

.checkbox .c-checkbox input {
    opacity: 1;
    width: auto;
    height: 23px;
    left: 0;
    margin: 0
}

.checkbox .check_h input {
    opacity: 1;
    width: auto;
    height: 23px;
    left: 0;
    margin: 0
}

.no-scroll {
    overflow: hidden
}

.modal_address {
    width: 710px;
    padding: 15px 0 20px;
    max-height: 580px;
    height: 545px;
    position: fixed;
    z-index: 99999;
    display: none;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -os-transform: translate(-50%, -50%);
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    color: #000
}

@media (max-width: 767px) {
    .modal_address {
        width:100%;
        top: 0 !important;
        left: 0;
        transform: translate(0);
        border-radius: 0;
        max-height: unset;
        height: 100%
    }
}

.modal_address::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #e1e1e1;
    border-radius: 10px;
    opacity: 0.5
}

.modal_address::-webkit-scrollbar {
    width: 5px;
    background-color: #e1e1e1;
    opacity: 0.5;
    border-radius: 10px
}

.modal_address::-webkit-scrollbar-thumb {
    border: 5px solid #e1e1e1;
    opacity: 0.2;
    border-radius: 10px
}

.modal_address .title_pop {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    padding: 0 34px 15px;
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    margin-bottom: 8px;
    color: #000
}

@media (max-width: 767px) {
    .modal_address .title_pop {
        padding:0 30px 12px 15px
    }
}

.modal_address form {
    margin-bottom: 0
}

.modal_address .pop_bottom {
    margin: 0 27px 0 27px
}

@media (max-width: 767px) {
    .modal_address .pop_bottom {
        margin:0 15px
    }
}

.modal_address .pop_bottom .form_address {
    overflow-y: auto;
    margin-bottom: 0;
    padding: 10px 0
}

.modal_address .pop_bottom .form_address::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #e1e1e1;
    border-radius: 10px;
    opacity: 0.5
}

.modal_address .pop_bottom .form_address::-webkit-scrollbar {
    width: 5px;
    background-color: #e1e1e1;
    opacity: 0.5;
    border-radius: 10px
}

.modal_address .pop_bottom .form_address::-webkit-scrollbar-thumb {
    border: 5px solid #e1e1e1;
    opacity: 0.2;
    border-radius: 10px
}

.modal_address .pop_bottom .form_address .error-in .form-group {
    margin-bottom: 0
}

.modal_address .pop_bottom .form_address .error-in .form-group input {
    border-color: red
}

.modal_address .pop_bottom .form_address .error-in .error-msg {
    color: red;
    margin-bottom: 10px;
    margin-top: 3px
}

.modal_address .pop_bottom .form_address .group-country {
    display: flex
}

.modal_address .pop_bottom .form_address .group-country fieldset {
    width: calc(100% / 3);
    -webkit-width: calc(100% / 3);
    -moz-width: calc(100% / 3);
    -o-width: calc(100% / 3);
    -os-width: calc(100% / 3);
    margin-right: 10px
}

.modal_address .pop_bottom .form_address .group-country fieldset:last-child {
    margin-right: 0
}

@media (max-width: 767px) {
    .modal_address .pop_bottom .form_address .group-country {
        display:block
    }

    .modal_address .pop_bottom .form_address .group-country fieldset {
        width: 100%;
        margin-right: 0px
    }
}

.modal_address .pop_bottom .form_address .form-group {
    margin-bottom: 11px;
    position: relative;
    padding: 0;
    margin-right: 0px
}

@media (max-width: 767px) {
    .modal_address .pop_bottom .form_address .form-group {
        margin-right:0
    }
}

.modal_address .pop_bottom .form_address .form-group label {
    font-size: 14px;
    color: #828282;
    margin: 0;
    transform-origin: left top;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    position: absolute;
    top: 8px;
    left: 20px;
    cursor: text;
    z-index: 20;
    font-weight: 400
}

.modal_address .pop_bottom .form_address .form-group input::-webkit-outer-spin-button,.modal_address .pop_bottom .form_address .form-group input::-webkit-inner-spin-button {
    -webkit-appearance: none
}

.modal_address .pop_bottom .form_address .form-group .form-control {
    border: 1px solid #C4CDD5;
    border-radius: 3px;
    padding: 18px 10px 0px 20px;
    margin: 0;
    position: relative;
    z-index: 10;
    background: transparent !important;
    min-height: 42px;
    font-size: 14px;
    padding-right: 30px;
    text-overflow: ellipsis;
    width: 100%
}

.modal_address .pop_bottom .form_address .form-group .form-control:focus ~ label {
    top: 4px;
    font-size: 11px;
    box-shadow: none
}

.modal_address .pop_bottom .form_address .form-group .form-control:focus {
    box-shadow: none;
    outline: none
}

.modal_address .pop_bottom .form_address .form-group .form-control:focus input {
    box-shadow: none;
    outline: none
}

.modal_address .pop_bottom .form_address .form-group.select-field:before {
    content: "";
    width: 2em;
    height: 26px;
    position: absolute;
    border-left: 1px rgba(179,179,179,0.5) solid;
    right: 1px;
    top: 8px;
    z-index: 9
}

.modal_address .pop_bottom .form_address .form-group.select-field:after {
    content: "";
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 11px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 9
}

.modal_address .pop_bottom .form_address .form-group.select-field select[disabled] {
    background-color: #eee !important;
    cursor: default
}

.modal_address .pop_bottom .form_address .form-group.select-field label {
    z-index: 20 !important
}

.modal_address .pop_bottom .form_address .form-group.select-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''
}

.modal_address .pop_bottom .form_address .form-group.has-error input {
    border-color: red !important
}

.modal_address .pop_bottom .form_address .form-group.has-error .form-error {
    color: red;
    margin-bottom: 0
}

.modal_address .pop_bottom .form_address .form-group .has-content ~ label {
    top: 4px;
    font-size: 11px
}

.modal_address .pop_bottom .form_address .form-group.select-field select {
    background-position: right center;
    background-repeat: no-repeat !important;
    background-position: right 20px center !important;
    text-indent: .01px;
    background-image: url(//bizweb.dktcdn.net/100/487/743/themes/912230/assets/ico-select.png?1705897064519) !important;
    z-index: 10;
    position: relative;
    background: transparent !important;
    outline: none
}

.modal_address .pop_bottom .form_address .form-group.select-field label {
    z-index: 1
}

.modal_address .pop_bottom .checkbox {
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center
}

.modal_address .pop_bottom .checkbox .c-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.modal_address .pop_bottom .btn-row {
    text-align: right
}

.modal_address .pop_bottom .btn-row .btn-dark-address {
    border-radius: 3px;
    padding: 0 15px
}

@media (max-width: 767px) {
    .modal_address .pop_bottom .btn-row {
        text-align:left
    }
}

.modal_address input[type="checkbox"],.modal_address input[type="radio"] {
    display: inline;
    margin: 0;
    padding: 0;
    height: 12px;
    position: absolute;
    background: transparent;
    outline: none;
    opacity: 1;
    left: 0;
    width: 12px;
    top: 5px;
    cursor: pointer
}

.closed_pop {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer
}

.closed_pop:hover {
    color: #2D9CDB
}

.closed_pop svg path {
    fill: #000
}

.closed_pop:hover svg path {
    fill: #d1a02f
}

div#social_login {
    width: 100% !important;
    text-align: center
}

.embedContent ul.icon-only {
    margin-bottom: 10px;
    display: block;
    text-align: center !important;
    margin: 0 !important
}

.checkbox.style input {
    margin: 0 !important;
    display: none
}

.checkbox.style label {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    text-transform: none;
    position: relative;
    padding-left: 55px;
    line-height: 50px
}

.checkbox.style label:before {
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.checkbox.style input:checked+label:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 20px;
    color: #d1a02f;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

#reset_password .form-group {
    margin-bottom: 15px
}

#reset_password .form-group input {
    height: 45px;
    padding: 0 20px;
    color: #111111;
    border-color: #ebebeb;
    border-radius: 0px;
    box-shadow: none
}

#reset_password .form-group textarea {
    box-shadow: none
}

#reset_password .form-group input::placeholder {
    font-size: 15px;
    color: #111111
}

.title_head .title_center_page {
    font-size: 24px !important;
    font-weight: 700;
    text-transform: none;
    position: relative;
    display: block;
    margin: 0
}

.page_login {
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .page_login {
        margin-top:0
    }
}

#pagelogin {
    margin-top: 5px
}

.btn_45 {
    height: 45px;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    line-height: 45px
}

.btn_45:hover {
    background: #d1a02f;
    color: #fff
}

.btn-primary,.btn-dark-address {
    border-radius: 5px !important
}

.pagecustome {
    border-radius: 10px;
    position: relative;
    width: 100%;
    width: 100%
}

.pagecustome .wpx {
    width: 100%;
    position: relative;
    z-index: 0;
    padding: 10px 24px;
    height: 100%
}

.h_recover {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.page-login .title_heads {
    font-size: 26px !important;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0;
    color: #000
}

.page-login .dkm a {
    color: #000
}

.page-login .dkm a:hover {
    color: #d1a02f
}

.page-login span.intr {
    font-size: 15px;
    line-height: 23px;
    color: #636363;
    text-align: center;
    display: block
}

.page-login .form-signup {
    margin-top: 18px
}

.page-login .form-signup .form-group {
    margin-bottom: 0px;
    padding: 0
}

.page-login .form-signup .form-group label {
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #000
}

.page-login .form-signup .form-group input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #000;
    padding: 1px 10px;
    margin-bottom: 10px
}

.page-login .form-signup .form-group input::-webkit-input-placeholder {
    color: #333
}

.page-login .form-signup .form-group input::-moz-placeholder {
    color: #333
}

.page-login .form-signup .form-group input:-ms-input-placeholder {
    color: #333
}

.page-login .form-signup .form-group textarea {
    box-shadow: none;
    border-color: #eaebf3
}

.page-login .form-signup .btn-lienhe {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    background: #000;
    border-radius: 4px
}

.page-login .form-signup .btn-lienhe:hover {
    background: #d1a02f
}

.page-login .form-signup .text-upper {
    width: 150px;
    height: 45px;
    font-size: 12px;
    font-weight: bold
}

.page-login .form-signup .accept_submit {
    margin-left: 20px;
    margin-top: 10px
}

.page-login .form-signup .accept_submit span {
    font-size: 15px;
    color: #111111
}

.page-login .form-signup .btn_50 {
    color: #fff;
    background: #000;
    border: none;
    font-size: 16px;
    line-height: 42px;
    width: 100%;
    height: 45px;
    border-radius: 4px
}

.page-login .form-signup .btn_50:hover {
    background: #d1a02f
}

.page-login .form-signup .quenmk {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    margin: 15px 0
}

.page-login .form-signup .quenmk:hover {
    cursor: pointer;
    color: #d1a02f
}

.page-login .form-signup .dkm a {
    text-decoration: underline
}

.page-login .form-signup .have_ac {
    font-size: 15px;
    color: #111111;
    margin-left: 15px
}

.page-login .form-signup .have_ac a {
    color: #000;
    text-decoration: underline
}

.login-width-social #social_login_widget #social_login {
    margin: 0 auto 50px
}

.recv-text {
    font-size: 15px;
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-top: 15px;
    margin: 0 15px
}

.recv-text a {
    text-decoration: underline;
    cursor: pointer;
    color: #000
}

@media (max-width: 991px) {
    .form-signup .button-50 {
        width:100% !important
    }

    .form-signup .have_ac {
        display: block;
        text-align: center;
        margin-top: 15px
    }
}

.embedContent .embedHeader {
    display: none !important
}

.social-login--facebooks {
    text-align: center
}

.table-order {
    width: 100%;
    font-size: 14px
}

#change_customer_password .btn-more {
    padding: 0 15px;
    border-radius: 3px !important;
    height: 40px;
    line-height: 40px;
    background: #000;
    position: relative;
    margin-left: 0px;
    color: #fff;
    border: solid 1px transparent;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px
}

#change_customer_password .btn-more:hover {
    background: initial;
    border: 1px solid #000;
    color: #000
}

@media (max-width: 767px) {
    .social-login--facebook {
        display:block;
        margin-bottom: 7px
    }
}
