header.header {
  padding: 20px 0 0px;
  min-height: inherit !important;
  background: #fff;
  position: relative;
}

header.header .ul-control-left {
  display: inline-flex;
  align-items: center;
  justify-content: right;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

svg {
  width: 20px;
  height: 20px;
}

a {
  transition: all 0.4s ease;
}

header.header .ul-control-left .header-contact {
  margin-right: 20px;
  font-size: 18px;
}

button,
li {
  transition: all 0.4s ease;
}

header.header .ul-control-left .header-contact svg {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

header.header .ul-control-left .header-contact svg path {
  fill: #d1a02f;
}

header.header .ul-control-left .header-contact {
  margin-right: 20px;
  font-size: 18px;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

a {
  color: #231f20;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #d1a02f;
  text-decoration: none;
}

header.header .header-control {
  display: flex;
  align-items: center;
  justify-content: right;
}

header.header .header-control .ul-control-right {
  display: inline-flex;
  align-items: center;
  justify-content: right;
}

header.header .header-control .ul-control-right li.header-account {
  position: relative;
}

header.header .header-control .ul-control-right li {
  margin-left: 15px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.header .header-control .ul-control-right li.header-account ul:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  content: "";
  position: absolute;
  top: -10px;
  right: 0px;
}

header.header .header-control .ul-control-right li.header-account ul:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
}

header.header .header-control .ul-control-right li:hover {
  background: #d1a02f;
}

header.header .header-control .ul-control-right li > svg,
header.header .header-control .ul-control-right li > a > svg {
  width: 30px;
  height: 30px;
}

header.header .header-control .ul-control-right li > svg path,
header.header .header-control .ul-control-right li > a > svg path {
  fill: #000;
}

header.header .header-control .ul-control-right li.header-account ul {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 999;
  width: 120px;
  right: 0;
  text-align: right;
  background: #fff;
  border-radius: 5px 0 5px 5px;
  display: none;
  border: 1px solid #000;
}

header.header .header-control .ul-control-right li.header-account ul li {
  background: transparent;
  width: auto;
  margin-left: 0;
  justify-content: end;
  padding: 0 10px;
  border-radius: 0;
}

header.header .header-control .ul-control-right li .icon {
  position: relative;
}

header.header .header-control .ul-control-right li {
  margin-left: 15px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.header .header-control .ul-control-right li.header-account ul li:hover {
  background: #d1a02f;
}

header.header
  .header-control
  .ul-control-right
  li.header-account
  ul
  li:hover
  a {
  color: #fff;
}

header.header .header-control .ul-control-right li.header-account:hover ul {
  display: block;
}

header.header .header-control .ul-control-right li {
  margin-left: 15px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.header .header-control .ul-control-right li .icon > span {
  position: absolute;
  top: -3px;
  background: #d1a02f;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  right: -4px;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}
@media (min-width: 991px) {
  .d-lg-none {
    display: none !important;
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .header-menu {
    margin-top: 20px;
    position: relative;
    background: #000;
    z-index: 9;
  }

  .header-menu .header-menu-des {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .header-menu .header-menu-des .header-nav {
    flex: 1;
    display: block;
    overflow-x: hidden;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big {
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    white-space: nowrap;
  }

  .header-menu .header-menu-des .header-nav li li {
    position: relative;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big > li.active {
    background: #d1a02f;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big > li.nav-item {
    display: inline-block;
    position: static;
    padding: 5px 0;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big > li.nav-item > a {
    display: block;
    text-align: left;
    padding: 10px 15px;
    font-size: 16px;
    position: relative;
    color: #fff;
    font-weight: 600;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big > li.active > a {
    color: #fff;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega {
    position: static;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big > li.nav-item:hover {
    background: #d1a02f;
  }

  .header-menu .header-menu-des .header-nav > ul.item_big > li.nav-item > a {
    padding: 10px 10px;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item:hover
    > a {
    color: #fff;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item
    > a.caret-down:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    display: inline-block;
    top: -2px;
    margin-left: 2px;
    margin-top: -6px;
    transition: 0.5s;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item:hover
    > a.caret-down:after {
    transform: rotate(180deg);
    border-color: #fff transparent transparent transparent;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content {
    background: #fff none repeat scroll 0 0;
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    max-height: 600px;
    overflow-y: auto;
    border: 0;
    overflow: hidden;
    white-space: normal;
    border-radius: 5px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega:hover
    .mega-content {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level0 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.item {
    float: left;
    width: calc(100% / 3);
    padding: 10px;
    text-align: left;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.item
    > a {
    color: #fff !important;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.parent
    a.hmega {
    color: #000 !important;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 18px;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.parent
    a.hmega {
    display: block;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.item
    ul.level1 {
    margin-bottom: 15px;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.parent
    ul.level1
    li {
    line-height: 1.3;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.parent
    ul.level1
    li
    a {
    text-transform: none !important;
    font-weight: 500;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item.has-mega
    .mega-content
    .level1.item
    ul.level1
    li
    a {
    font-weight: normal !important;
    text-transform: none !important;
    color: #000;
    font-size: 18px;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item
    .fa-caret-down {
    visibility: hidden;
    display: none;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item
    > ul
    li {
    float: none;
    padding: 0 0;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item
    > ul
    > li {
    color: #333;
  }

  .header-menu
    .header-menu-des
    .header-nav
    > ul.item_big
    > li.nav-item
    > ul
    li
    a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 6px 20px 6px 10px;
    color: #000;
    position: relative;
    text-align: left;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .header-menu .header-menu-des .header-nav > ul.item_big > li.nav-item > a {
    padding: 10px 10px;
  }
}

@media (max-width: 991px) {
  header.header {
    padding: 10px 0px 10px;
  }
  header.header .header-control {
    position: inherit;
    display: inline-block;
    width: auto;
    padding: 0;
  }
/* 
  header.header .header-menu {
    display: none;
  } */

  header.header .logo {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  header.header .logo img {
    max-height: 70px;
    width: auto;
  }

  header.header .header-control .search-header {
    padding: 0;
    margin-top: 10px;
    width: 100%;
  }

  header.header .header-control .ul-control-right {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: 25px;
    right: 30px;
    
  }

  .header .menu-bar {
    position: absolute;
    top: 20px;
    border-radius: 5px;
    z-index: 9;
    left: 39px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #000;
    
  }

  .header-nav {
    background-color: #fff;
    width: 70%;
    position: fixed;
    top: 0 !important;
    left: 0;
    z-index: 99999;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
    touch-action: manipulation;
  }

  .header-nav.current {
    visibility: visible;
    /* transform: translateX(0); */
  }

  .header-nav .item_big {
    width: 100%;
    overflow-y: auto;
    max-height: 100vh;
    height: 100vh;
  }

  .header-nav .logo-sitenav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  .header-nav .item_big .account-mb {
    padding: 5px;
  }

  .header-nav .item_big .title-danhmuc {
    padding: 5px;
  }

  .header-nav .item_big .account-mb ul {
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    text-align: center;
  }

  .header-nav .item_big .account-mb ul li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .header-nav .item_big .account-mb ul li a {
    display: block;
    background: #000;
    color: #fff;
    padding: 8px 5px;
    border-radius: 5px;
    font-weight: 600;
  }

  .header-nav .item_big .title-danhmuc span {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    display: block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    background: #000;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
  }

  .header-nav .item_big .nav-item {
    position: relative;
    margin-bottom: 5px;
  }

  .header-nav li.current > a {
    color: #d1a02f !important;
  }

  .header-nav .item_big .nav-item .fa-caret-down {
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 7.5px;
    top: 15px;
    transform: translate(0, -50%);
  }

  .header-nav .item_big .nav-item .fa-caret-down:before,
  .header-nav .item_big .nav-item .fa-caret-down:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: #000;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .header-nav .item_big .nav-item .fa-caret-down:before {
    width: 11px;
    height: 1px;
    opacity: 1;
  }

  .header-nav li.current .fa.current:before {
    opacity: 0;
  }

  .header-nav .item_big .nav-item .fa-caret-down:after {
    width: 1px;
    height: 11px;
  }

  .header-nav li.current .fa.current:before,
  .header-nav li.current .fa.current:after {
    background-color: #d1a02f;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .header-nav li > ul {
    display: none !important;
  }

  .header-nav .item_big .nav-item a {
    padding: 0 30px 0 10px !important;
    color: #000;
    height: unset;
    line-height: 30px;
    display: block;
    font-size: 16px;
    font-weight: 600;
  }

  .header-nav li.current > ul {
    display: block !important;
  }

  .header-nav .item_big .nav-item .item_small {
    padding-left: 10px;
  }

  .header-nav .item_big .nav-item .item_small li {
    position: relative;
  }

  .header-nav .item_big .nav-item .item_small ul {
    padding-left: 10px;
  }

  .header-nav .item_big .nav-item .item_small ul li {
    position: relative;
  }

  .header-nav .item_big .item-mb {
    padding: 10px;
    border-top: 1px solid #000;
  }

  .header-nav .item_big .item-mb a {
    display: block;
    margin-bottom: 10px;
    color: #000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  header.header .ul-control-left .header-contact {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .header .menu-bar {
    width: 30px;
    height: 30px;
    top: 28px;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .header .menu-bar {
    left: 5px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }

  .container .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .container .row > div {
    padding-right: 5px;
    padding-left: 5px;
  }

  header.header .header-control .ul-control-right {
    right: 5px;
  }

  .container .row > div {
    padding-right: 5px;
    padding-left: 5px;
  }
}
